<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MobileSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="RetailGateWayServicesUrl" value="http://localhost/RetailGateway14/api/"/>
    <add key="RetailGateWayApiVersion" value="v1"/>
    <!--<add key="RetailGateWayApiVersion" value="v3"/> --><!--for BRM Infra-->
    <add key="Retailer" value="Retailer"/>
    <add key="StoreId" value="4801"/>
    <add key="DeviceTypeAndroid" value="Android"/>
    <add key="DeviceTypeIPhone" value="iPhone"/>
    <add key="AppVersion" value="10.5.5"/>
    <add key="ResourceVersion" value="10.5.14.14"/>
    <add key="TenderId" value="3"/>
    <add key="TouchPoint" value="MobileShopper"/>
    <!--<add key="TouchPoint" value="mPOS"/>-->
    <add key="MPosRegistrationToken" value="30;504cfbc2-b236-4d90-b6ca-d2d1b16c60e7"/>
  </appSettings>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <Threshold value="ALL"/>
      <file value="Logs\MobileSimulator.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value=".yyyy-MM-dd"/>
      <staticLogFileName value="true"/>
      <maxSizeRollBackups value="100"/>
      <countDirection value="1"/>
      <maximumFileSize value="5MB"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline%exception%newline"/>
      </layout>
    </appender>

    <root>
      <level value="ERROR"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
</configuration>
